/* Reset ψσ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




 /* μποντι*/
body {
    background-image: url('cebfceb9cebacebfcf85cebcceb5cebdceb9cebaceae-ceb3.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.7); /* Ρυθμίζουμε τη διαφάνεια του χρώματος φόντου */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    /*  animation */
    animation: fadeInDown 1s ease;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    /*  box shadow for depth effect */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    /*  hover effect */
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Add animation */
    animation: fadeInUp 1s ease;
}

/* Animation keyframes */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
